@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}
html,body{
height:100%;
display:flex;
align-items:center;
justify-content:center;
background:#664AFF;
}
.checkbox{
width:270px;
height:80px;
background:white;
display:flex;
align-items:center;
justify-content:space-between;
padding:20px;
}
.checkbox input{
height:40px;
width:90px;
background:red;
-webkit-appearence:none;
border-radius:50px;



















