@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;600&display=swap');

*{
margin:0;
padding:0;
font-family: 'Poppins', sans-serif;
box-sizing:border-box;
}

.showbtn{
position:absolute;
top:50%;
left:50%;
transform:translate(-50%,-50%);
height:55px;
background:#2980b9;
padding:0 30px;
font-size:20px;
font-weight:400;
cursor:pointer;
line-height:55px;
color:white;
border-radius:5px;
transition:all 0.3s ease;
}

.showbtn:hover{
background:#2573a7;
}

.background{
position:absolute;
height:100%;
width:100%;
top:0;
left:0;
background:rgba(0,0,0,0.5);
opacity:0;
pointer-events:none;
transition:all 0.3s ease;
}
#check:checked~ .background{
opacity:1;
pointer-enents:auto;
}
.alertbox{
display:flex;
position:absolute;
flex-direction:column;
top:50%;
left:50%;
transform:translate(-50%,-50%);
max-width:450px;
width:100%;
padding:30px;
background:white;
align-items:center;
text-align:center;
border-radius:5px;
z-index:5;
opacity:0;
pointer-events:none;
transition:all 0.3s ease;
}
#check{
display:none;
}
#check:checked ~ .alertbox{
opacity:1;
pointer-events:auto;
}
.alertbox .logo{
height:100px;
width:100px;
border-radius:50%;
border:3px solid red;
color:red;
ext-align:center;
line-height:150px;
font-size:50px;
}
.alertbox header{
font-size:35px;
font-weight:500;
margin:10px 0;
}
.alertbox p{
font-size:20px;
}
.alertbox .btns{
margin-top:20px;
}
.alertbox label{
display:inline-flex;
background:grey;
height:50px;
padding:10px 30px;
font-size:20px;
font-weight:400;
color:white;
cursor:pointer;
border-radius:5px;
margin:0px 10px;
}
.btns label:first-child{
background:#2980b9;
}
.btns label:first-child:hover{
background:#2573a7;
}
.btns label:last-child{
background:red;
}
.btns label:last-child:hover{
background:#d9210d;
}















