@import url('https://fonts.googleapis.com/css2?family=Martian+Mono&family=Poppins:wght@200;300;400;500;600&display=swap');

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: 'Poppins', sans-serif;
}
body{
height:100%;
width:100%;
background:#FF676D;
display:flex;
align-items:center;
justify-content:center;
}
.box{
max-width:400px;
width:100%;
ackground:red;
}
.box .search{
position:relative;
height:50px;
max-width:50px;
ackground:yellow;
margin:auto;
box-shadow:0 5px 10px rgba(0,0,0,0.25);
border-radius:25px;
transition:all 0.3s ease;
cursor:pointer;
}
#check:checked~ .search{
max-width:380px;
}

.search input{
position:absolute;
height:100%;
width:100%;
border-radius:25px;
outline:none;
border:none;
padding-left:20px;
font-size:18px;
ackground:white;
}
.search .icon{
position:absolute;
right:0;
cursor:pointer;
top:0;
width:50px;
background:white;
height:100%;
border-radius:25px;
text-align:center;
padding-top:16px;
color:#FF676D;
font-size:20px;
right:-2px;
}
#check:checked~ .search .icon{
background:#FF676D;
color:white;
width:60px;
border-radius:0 25px 25px 0;
}
#check{
display:none;
}




























