@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

html{
    scroll-behavior: smooth;
}
body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
nav{
    background: black;
    color:white;
    padding: 20px 50px;
}
.navtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{ 
    display: flex;
    align-items: center;
    background: grey;
    padding: 10px 20px;
    border-radius: 10px;
   
}
.searchinput{
    border:none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgrey;
}
.navitem i{
    color: lightgrey;
}
.limitedoffer{
    font-size:20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuitem{
    margin-right: 50px;
    color: lightgrey;
    cursor: pointer;
    font-weight: 400;

}
.slider{
    background-image: url("https://img.freepik.com/free-photo/grunge-black-concrete-textured-background_53876-124541.jpg");
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    overflow: hidden;
     
}
.sliderwrapper{
    display:flex;
    width:500vw;
    transition: all 1s ease-in-out;
}
.slideritem{
    position: relative;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slidebg{
    width:650px;
    height:650px;
    border-radius: 50%;
    ackground: yellow;
    position: absolute;
}
.sliderimg{
    z-index: 1;

}
.slidertitle{
    position: absolute;
    top:10%;
    right:10%;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: white;
    z-index:1;
}
.sliderprice{
    position: absolute;
    top:10%;
    left:5%;
    font-size: 50px;
    text-align: center;
    font-weight: 300;
    color: white;
    border: 1px solid grey;
    z-index: 1;
}
.buybutton{
    position: absolute;
    top:50%;
    right:10%;
    font-size: 30px;
    font-weight: 900;
    background: black;
    color: white;
    border: 1px solid grey;
    cursor: pointer;
    z-index: 1;
    transition: all 0.5S ease;
}
.buybutton:hover{
    background-color: white;
    color:black;
}
.slideritem:nth-child(1) .slidebg{
    background: #369e62;
}
.slideritem:nth-child(2) .slidebg{
    background: rebeccapurple;
}
.slideritem:nth-child(3) .slidebg{
    background: teal;
}
.slideritem:nth-child(4) .slidebg{
    background: cornflowerblue;
}
.slideritem:nth-child(5) .slidebg{
    background: rgb(124,115,80);
}

.slideritem:nth-child(1) .sliderprice{
    color: #369e62;
}
.slideritem:nth-child(2) .sliderprice{
    color: rebeccapurple;
}
.slideritem:nth-child(3) .sliderprice{
    color: teal;
}
.slideritem:nth-child(4) .sliderprice{
    color: cornflowerblue;
}
.slideritem:nth-child(5) .sliderprice{
    color:  rgb(124,115,80);
}

.features{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px;

}
.feature{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-right:10px;

}
.featureimage{
    width:50px;
    height:50px;
}
.featuretitle{
    font-size: 20px;
    font-weight: 600;
    margin: 20px;
}
.featuredesc{
    color: grey;
    width: 50%;
    height: 100px;

}

.product{
    heigh;
    background-color: whitesmoke;
    position: relative;
    clip-path: polygon(0 15%, 100% 0, 100% 100%, 0% 100%);
}
.productimg{
    width:50%;

}
.productdetails{
    position: absolute;
    top:10%;
    right:0;
    width: 40%;
    padding: 50px;


}
.producttitle{
    font-size: 75px;
    font-weight: 900;

}
.productdesc{
    font-size: 24px;
    color: gray;

}
.colors,.sizes{
    display: flex;
    margin-bottom: 20px;
}
.color{
    width:32px;
    height: 32px;
    border-radius: 5px;
    background-color: sandybrown;
    margin-right: 10px;
    cursor: pointer;
}
.color:last-child{
    background-color: black;
}
.size{
    padding: 5px 20px;
    border: 1px solid black;
    margin-right: 10px;
    cursor: pointer;
    font-size: 20px;
}
.productbutton{
    float:right;
    padding: 10px 20px;
    background-color: black;
    color:white;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.2s ease;
}
.productbutton:hover{
    background-color: white;
    color: black;
}


