@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
nav{
    background: black;
    color:white;
    padding: 20px 50px;
}
.navtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{ 
    display: flex;
    align-items: center;
    background: grey;
    padding: 10px 20px;
    border-radius: 10px;
   
}
.searchinput{
    border:none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgrey;
}
.navitem i{
    color: lightgrey;
}
.limitedoffer{
    font-size:20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
.navbottom{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menuitem{
    margin-right: 50px;
    color: lightgrey;
    cursor: pointer;
    font-weight: 400;

}
.slider{
    lip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
     
}
.sliderwrapper{
    display:flex;
    width:500vw;
}
.slideritem{
    position: relative;
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.slidebg{
    width:750px;
    height:750px;
    border-radius: 50%;
    background: yellow;
    position: absolute;
}
.slidertitle{
    position: absolute;
    top:10%;
    right:10%;
    font-size: 60px;
    text-align: center;
    font-weight: 900;
    color: white;
}
.sliderprice{
    position: absolute;
    top:10%;
    left:10%;
    font-size: 60px;
    text-align: center;
    font-weight: 300;
    color: white;
    border: 1px solid grey;
}