@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');

body{
    margin:0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
nav{
    background: black;
    color:white;
    padding: 20px 50px;
}
.navtop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.search{ 
    display: flex;
    align-items: center;
    background: grey;
    padding: 10px 20px;
    border-radius: 10px;
   
}
.searchinput{
    border:none;
    background-color: transparent;
}
.searchinput::placeholder{
    color: lightgrey;
}
.navitem i{
    color: lightgrey;
}
.limitedoffer{
    font-size:20px;
    border-bottom: 2px solid green;
    cursor: pointer;
}
